@model SIGAA.Models.Rol

@{
    ViewBag.Title = "Detalle";
}
<h3><b>Información de Rol</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @if (FrontUser.TienePermiso(RolesPermisos.SEGU_rol_puedeEditar)) {
    <a hhref=@Url.Action("Edit","Rol",new {id=Model.iRol_id}) class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>}
    <a href=@Url.Action("Index","Rol") class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
</div>