@model SIGAA.Areas.EGRE.Models.gatbl_ComunicacionEst

@{
    ViewBag.Title = "Detalle";
}
<h3><b>Información de Comunicación a Alumno</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_comunicacionAlAlumno_puedeEditar)) {
    <a href="/EGRE/ComunicacionEst/Edit/@Model.iComunicacionEst_id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>}
    <a href="/EGRE/ComunicacionEst/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
</div>
