
@model IEnumerable<SIGAA.ViewModels.MetodoDeAccionViewModel>
<div id="tablaDeAcciones">
    <div class="panel panel-default">
        <div class="panel-heading">Metodos de acción</div>
        <div class="panel-body">

            <!-- table -->

            <table class="table small">
                <tr class="active">
                    <th class="col-md-11">Acción</th>
                    <th class="col-md-1">Estado</th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.iRol_id)
                            @Html.HiddenFor(modelItem => item.iPermiso_id)
                            @Html.DisplayFor(modelItem => item.sNombreAccion)
                               @*{<a href="/EGRE/EntregaTFG/Edit/@item.iEntrega_id"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-original-title="Editar"></span></a>}*@
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => item.bEstadoSeleccionado, new { onclick = "ActualizarPermiso(this)" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<script>
    function ActualizarPermiso(checkboxInput) {

        $.ajax({
          type: 'POST',
          url: Your/Action,
          data: { newValue: checkboxInput.checked },
          success: success,
          dataType: 'json'
        });
    }
</script>
