@model SIGAA.Models.PermisoDenegadoPorRol

@{
    ViewBag.Title = "Detalle";
}
<h3><b>Información de Denegación de Permiso a Rol</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @if (FrontUser.TienePermiso(RolesPermisos.SEGU_permisoDenegadoPorRol_puedeEditar))
    {<a href="/PermisoDenegadoPorRol/Edit/@Model.iPermiso_id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>}
    <a href="/PermisoDenegadoPorRol/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
</div>