@model SIGAA.ViewModels.PermisoDenegadoPorRolViewModel
@{
    ViewBag.Title = "Index";
}
<h3>DENEGAR PERMISOS A ROL</h3>
<hr />
<br />
<div class="form-horizontal">
    <div class="well well-lg">
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.iRol_id, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @using (Ajax.BeginForm("Index_json", "PermisoDenegadoPorRol", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Paneles" }))
                {
                    @Html.DropDownListFor(model => model.iRol_id, null, new { onchange = "$(this.form).submit();",  @class = "form-control" })
                }
            </div>
        </div>
    </div>
</div>
<br />
@Html.Partial("_IndexPaneles", Model)