@model SIGAA.Areas.EGRE.Models.gatbl_DRecepcionesTFG

@{
    ViewBag.Title = "Eliminar";
}
<h3><b>Confirma eliminar Detalle Recepcion T.F.G.?</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Ir a Lista", "Index")
        </div>
    }
</div>
