@model SIGAA.Areas.EGRE.Models.gatbl_Profesiones

@{
    ViewBag.Title = "Detalle";
}

<h3><b>Información de Profesión</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_profesionTutor_puedeEditar)) {
    <a href="/EGRE/Profesiones/Edit/@Model.iProfesion_id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>}
    <a href="/EGRE/Profesiones/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
</div>