@model SIGAA.Models.Usuario

@{
    ViewBag.Title = "Detalle";
}
<h3><b>Información de Usuario</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    <a href="/Usuario/Edit/@Model.iUsuario_id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>
    <a href="/Usuario/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
</div>
