@model IEnumerable<SIGAA.Models.Usuario>

@{
    ViewBag.Title = "Indice Usuarios";
}
<h3><b>INDICE :</b>  Usuarios</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="text-left">
            @if (FrontUser.TienePermiso(RolesPermisos.SEGU_usuario_puedeCrearNuevo)) {
            <a href="/Usuario/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Nuevo </a> }
        </div>
    </div>
    <div class="col-md-6">
        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "listaUsuarios" }))
        {
            <div class="col-md-6 col-md-offset-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" placeholder="Buscar" name="criterio" autofocus>
                </div>
            </div>
        }
    </div>
</div>
<br />

@Html.Partial("_Index")
