@model SIGAA.Areas.EGRE.Models.gatbl_RectorUniversidadPublica

@{
    ViewBag.Title = "Detalle";
}
<h3><b>Información de Rector Universidad</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_rectorUniversidaPublica_puedeEditar)) {
    <a href="/EGRE/RectorUniversidadPublica/Edit/@Model.iRectorUnivPublica_id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>}
    <a href="/EGRE/RectorUniversidadPublica/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
</div>