@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MapiriSoft <br />
    Santa Cruz<br />
    <abbr title="Phone">P:</abbr>
    68845650
</address>

<address>
    <strong>Supporte:</strong>   <a href="mailto:tito@mapirisoft.com">Support@example.com</a><br />
   
</address>