@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Modulo Egresados con tecnología</h1>
    <p class="lead">ASP.NET MVC5 con LINQ, HTML5, CSS3, JQUERY 3, BOOTSTRAP 3, RAZOR 3</p>
</div>
