@model SIGAA.Areas.EGRE.Models.gatbl_EntregaTFG

@{
    ViewBag.Title = "Eliminar";
}
<h3><b>Confirma eliminar Recepción T.F.G. de Alumno?</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()        
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
            <a href="/EGRE/EntregaTFG/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
    }
</div>
