@model SIGAA.Areas.EGRE.Models.gatbl_EntregaTFG

@{
    ViewBag.Title = "Detalles";
}
<h3><b>Información de Recepción T.F.G. de Alumno</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_recepcionTFGdelAlumno_puedeEditar)) {
    <a href="/EGRE/EntregaTFG/Edit/@Model.iEntrega_id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>}
    <a href="/EGRE/EntregaTFG/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_accederAseguimientoDeEjemplaresTFG))
    {<a href="/EGRE/Perfil/IndexTFG/?criterio=@Model.lEstudiante_id" class="btn btn-warning"><span class="glyphicon glyphicon-info-sign"></span> Ejemplares</a>}
</div>