@model SIGAA.Areas.EGRE.Models.gatbl_Perfiles
@{
    ViewBag.Title = "Detalle";
}
<h3><b>Informacion de Perfil</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_perfil_puedeEditar)) {
        <a href="/EGRE/Perfil/Edit/@Model.iPerfil_id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>}
        <a href="/EGRE/Perfil/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
</div>
