@model SIGAA.Areas.EGRE.Models.gatbl_EntregaTribunales

@{
    ViewBag.Title = "Eliminar";
}
<h3><b>Confirma eliminar Entrega T.F.G. a Tribunal?</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
            <a href="/EGRE/EntregaTribunales/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
    }
</div>
