@model SIGAA.Areas.EGRE.Models.gatbl_EntregaTribunales

@{
    ViewBag.Title = "detalles";
}
<h3><b>Información de Entrega T.F.G. a Tribunal</b></h3>
<hr />
<div>
    @Html.Partial("_DetailsDelete", Model)
    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_entregaTFGalTribunal_puedeEditar)) {
    <a href="/EGRE/EntregaTribunales/Edit/@Model.iETribunal_id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editar </a>}
    <a href="/EGRE/EntregaTribunales/Index" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Ir a Lista </a>
    @if (FrontUser.TienePermiso(RolesPermisos.EGRE_accederAseguimientoDeEjemplaresTFG))
    {<a href="/EGRE/Perfil/IndexTFG/?criterio=@Model.lEstudiante_id" class="btn btn-warning"><span class="glyphicon glyphicon-info-sign"></span> Ejemplares</a>}
</div>
