        <p class="text-info">
           <strong>NOTA: </strong> Para iniciar Session en el Sistema debe autenticarse con el email corporativo de UTEPSA. Para obtener más información acerca de la autorización de usuarios puede comunicarse con el departamento de Sistemas de la Intitucion.
        </p>


