        <p class="text-info">
           <strong>NOTA: </strong> Para iniciar Session en el Sistema debe autenticarse con el USR LOGIN institucional.
            Para obtener más información debe comunicarse con el departamento de Sistemas.
        </p>


