<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReporteConvalidaciones.Properties.Settings.DBConvalidacionMVC3"
            connectionString="Data Source=.;Initial Catalog=DBConvalidacionMVC3;Persist Security Info=True;User ID=sa;Password=."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>