@{
    ViewBag.Title = "Pagina Principal de acceso a los modulos";
}

<div class="jumbotron small">
    <h2>MP-SIG</h2>
    <p>SIG Sistema Integrado de Apoyo Administrativo, el software cuenta con 5 modulos orientado a apoyar en la gestión de la información que genera las distitas áreas</p>
    
</div>

<div class="row">
    <div class="col-md-3">
        <h2>MP-EGRE</h2>
        <p>Coordinar y dar seguimiento a los procesos de titulación de sus egresados hasta llegar a obtener el grado académico (Licenciatura), Registrar proyectos de investigación que estén dentro de las líneas de investigación de la propia Facultad.
        </p>
        <p> <a href="~/EGRE/Perfil/Index" class="btn btn-default" >Entrar &raquo;</a> </p>
    </div>
    <div class="col-md-3">
        <h2>MP-O&M</h2>
        <p>Esta función tiene como objetivo proveer a la empresa de los recursos humanos idoneos en base a una adecuada planeación, tanto en cantidad como en calidad, para desarrollar todos los procesos del negocio..</p>
        <p><a href="~/OYM/tblDocumentos/Index" class="btn btn-default">Entrar &raquo;</a> </p>
    </div>
    <div class="col-md-3">
        <h2>MP-CONV</h2>
        <p>función principal tramitar, reconocer y convalidar los títulos otorgados por una universidad nacional o extranjera o institutos nacionales. En cuanto a las equivalencias de estudios, se determina mediante un análisis previo de las unidades-créditos involucrados.</p>
        <p><a href="~/CONV/SolicitudConvalidaciones/Index" class="btn btn-default">Entrar &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>MP-CRM</h2>
        <p>Esta función tiene como objetivo proveer a la empresa de los recursos humanos idoneos en base a una adecuada planeación, tanto en cantidad como en calidad, para desarrollar todos los procesos del negocio..</p>
        <p><a href="~/CRM/Scheduler/Index" class="btn btn-default">Entrar &raquo;</a></p>
    </div>
    @*<div class="col-md-3">
        <h2>MP-CRM</h2>
        <p>Esta función tiene como objetivo proveer a la empresa de los recursos humanos idoneos en base a una adecuada planeación, tanto en cantidad como en calidad, para desarrollar todos los procesos del negocio..</p>
        <p><a href="~/CRM/Perfil/Index" class="btn btn-default">Entrar &raquo;</a></p>
    </div>*@
</div>