@model IEnumerable<SIGAA.Areas.EGRE.Models.gatbl_Salas>

@{
    ViewBag.Title = "Index";
}
<h3><b>INDICE :</b>  Salas / Aulas</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="text-left">
            @if(FrontUser.TienePermiso(RolesPermisos.EGRE_aulaSala_puedeCrearNuevo)) {
            <a href="/EGRE/Sala/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Nuevo </a>}
        </div>
    </div>
    <div class="col-md-6">
        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "listaSalas" }))
        {
            <div class="col-md-6 col-md-offset-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" placeholder="Buscar" name="criterio" autofocus>
                </div>
            </div>
        }
    </div>
</div>
<br />

@Html.Partial("_Index")
